apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: service-deployment
  labels:
    app: hello-api
spec:
  replicas: 3
  selector:
    matchLabels:
      app: hello-api
  template:
    metadata:
      labels:
        app: hello-api
    spec:
      containers:
      - name: hello-api
        image: mdsr5555/k8s-test-repository
---        
apiVersion: v1
kind: Service
metadata:
  name: hello-api
  namespace: default
spec:
  ports:
  - nodePort: 30702
    port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: hello-api
  sessionAffinity: None
  type: LoadBalancer